<% content_for :browser_title, "Application history – Application ##{@application_form.support_reference}" %>
<% content_for :title do %>
  <span class="govuk-caption-xl">Application <%= @application_form.support_reference %></span>
  Actions
<% end %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(support_interface_applications_path, 'Back') %>

  <%= render SubNavigationComponent.new(items: [
    { name: 'Application info', url: support_interface_application_form_path(@application_form) },
    { name: 'History', url: support_interface_application_form_audit_path(@application_form) },
    { name: 'Email log', url: '#' },
    { name: 'Actions', url: support_interface_application_form_actions_path(@application_form), current: true },
  ]) %>
<% end %>

<% unless HostingEnvironment.production? %>
  <%= button_to 'Sign in as this candidate', support_interface_impersonate_candidate_path(@application_form.candidate), class: 'govuk-button' %>
<% end %>

<% if @application_form.candidate.hide_in_reporting? %>
  <%= button_to 'Include this candidate in service performance data', support_interface_show_candidate_path(@application_form.candidate, from_application_form_id: @application_form.id), class: 'govuk-button govuk-button--secondary' %>
<% else %>
  <%= button_to 'Exclude this candidate from service performance data', support_interface_hide_candidate_path(@application_form.candidate, from_application_form_id: @application_form.id), class: 'govuk-button govuk-button--secondary' %>
<% end %>

<h2 class="govuk-heading-l govuk-!-margin-top-8">Request feedback</h2>

<p class="govuk-body">Ask the candidate to fill out a survey.</p>

<%= govuk_button_link_to t('survey_emails.send.link'), support_interface_survey_emails_path(@application_form), class: 'govuk-button--secondary' %>
