<% content_for :browser_title, "Application history – Application ##{@application_form.support_reference}" %>
<% content_for :title do %>
  <span class="govuk-caption-xl">Application <%= @application_form.support_reference %></span>
  Application history
<% end %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(support_interface_applications_path, 'Back') %>

  <%= render SubNavigationComponent.new(items: [
    { name: 'Application info', url: support_interface_application_form_path(@application_form) },
    { name: 'History', url: support_interface_application_form_audit_path(@application_form), current: true },
    { name: 'Email log', url: '#' },
    { name: 'Actions', url: support_interface_application_form_actions_path(@application_form) },
  ]) %>
<% end %>

<%= govuk_button_link_to 'Add comment', support_interface_application_form_new_comment_path %>

<%= render SupportInterface::AuditTrailComponent.new(application_form: @application_form) %>
