    <div class="moj-filter-layout__filter">
        <div class="moj-filter" tabindex="-1">
            <div class="moj-filter__header">
               <div class="moj-filter__header-title">
                 <h2 class="govuk-heading-m">Filter</h2>
               </div>

            </div>
            <div class="moj-filter__content">
              <div class="moj-filter__selected">
                <div class="moj-filter__selected-heading">

                  <div class="moj-filter__heading-title">
                    <h2 class="govuk-heading-m">Selected filters</h2>
                  </div>

                  <div class="moj-filter__heading-action">
                  </div>

               </div>
               <%= render ProviderInterface::ClearFilterComponent, page_state: page_state %>
              </div>

                <div class="moj-filter__options">
                  <form method="get" action="/provider/applications">
                        <%= submit_tag "Apply filters", class: "govuk-button" %>

                        <div class="govuk-form-group">
                            <input class="govuk-checkboxes__input" id="sort_by" name="sort_by" type="hidden" value=<%= "#{current_sort_by}" %>>
                            <input class="govuk-checkboxes__input" id="sort_order" name="sort_order" type="hidden" value=<%= "#{sort_order}" %>>

                            <fieldset class="govuk-fieldset">

                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                  Status
                                </legend>

                                <div class="govuk-checkboxes govuk-checkboxes--small">
                                    <%= render ProviderInterface::FilterCheckboxComponent, name: "pending_conditions", text: "Accepted", filter_options: filter_options, type: 'status' %>
                                    <%= render ProviderInterface::FilterCheckboxComponent, name: "recruited", text: "Conditions met", filter_options: filter_options, type: 'status' %>
                                    <%= render ProviderInterface::FilterCheckboxComponent, name: "declined", text: "Declined", filter_options: filter_options, type: 'status' %>
                                    <%= render ProviderInterface::FilterCheckboxComponent, name: "awaiting_provider_decision", text: "New", filter_options: filter_options, type: 'status' %>
                                    <%= render ProviderInterface::FilterCheckboxComponent, name: "offer", text: "Offered", filter_options: filter_options, type: 'status' %>
                                    <%= render ProviderInterface::FilterCheckboxComponent, name: "rejected", text: "Rejected", filter_options: filter_options, type: 'status' %>
                                    <%= render ProviderInterface::FilterCheckboxComponent, name: "withdrawn", text: "Application withdrawn", filter_options: filter_options, type: 'status' %>
                                    <%= render ProviderInterface::FilterCheckboxComponent, name: "offer_withdrawn", text: "Offer withdrawn", filter_options: filter_options, type: 'status' %>
                                </div>
                            </fieldset>

                            <fieldset class="govuk-fieldset">

                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                  Provider
                                </legend>

                                <% providers.each do |provider| %>
                                  <div class="govuk-checkboxes govuk-checkboxes--small">
                                      <%= render ProviderInterface::FilterCheckboxComponent, name: provider.id, text: provider.name, filter_options: filter_options, type: 'provider' %>
                                  </div>
                                <% end %>

                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
