<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id=<%= "#{type}-#{name}" %> name=<%= "filter[#{type}][#{name}]" %> type="checkbox", <%= should_be_checked %> >
  <label class="govuk-label govuk-checkboxes__label" for=<%= "#{type}-#{name}" %>>
      <%= text %>
    </label>
</div>
