<% content_for :title, 'Service performance' %>

<h1 class='govuk-heading-xl'>Service performance</h1>

<p class='govuk-body'>
  <%= govuk_link_to 'View in large screen mode', '?screen=1' unless params[:screen] %>
</p>

<h2 class="govuk-heading-l">Candidates</h2>

<div class="app-card app-card--blue govuk-!-margin-bottom-4">
  <span class="app-card__count" id="total-sign-ups"><%= @statistics.total_candidate_count %></span>
  <span>sign ups (excluding test users)</span>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-one-half">
    <div class="app-card">
      <span class="app-card__count"><%= @statistics.total_candidate_count(only: %i{never_signed_in unsubmitted_not_started_form unsubmitted_in_progress}) %></span>
      <span>in pre-submission</span>
    </div>
  </div>
  <div class="govuk-grid-column-one-half">
    <div class="app-card">
      <span class="app-card__count"><%= @statistics.total_candidate_count(except: %i{never_signed_in unsubmitted_not_started_form unsubmitted_in_progress}) %></span>
      <span>submitted</span>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="app-card">
          <span class="app-card__secondary-count"><%= @statistics.total_candidate_count(only: [:never_signed_in]) %></span>
          <span>never signed in</span>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-card">
          <span class="app-card__secondary-count"><%= @statistics.total_candidate_count(only: [:unsubmitted_not_started_form]) %></span>
          <span>not started the form</span>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-card">
          <span class="app-card__secondary-count"><%= @statistics.total_candidate_count(only: [:unsubmitted_in_progress]) %></span>
          <span>form in progress</span>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-half">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="app-card">
          <span class="app-card__secondary-count"><%= @statistics.total_candidate_count(except: %i{ended_without_success pending_conditions recruited enrolled never_signed_in unsubmitted_not_started_form unsubmitted_in_progress}) %></span>
          <span>still being processed</span>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-card app-card--red">
          <span class="app-card__secondary-count"><%= @statistics.total_candidate_count(only: %i{ended_without_success}) %></span>
          <span>ended w/o success</span>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-card app-card--green">
          <span class="app-card__secondary-count"><%= @statistics.total_candidate_count(only: %i{pending_conditions recruited enrolled}) %></span>
          <span>accepted an offer</span>
        </div>
      </div>
    </div>
  </div>
</div>

<%
rows = [
  { label: 'never signed in', opts: {only: [:never_signed_in]} },
  { label: 'not started the form', opts: {only: [:unsubmitted_not_started_form]} },
  { label: 'form in progress', opts: {only: [:unsubmitted_in_progress]} },
  { label: 'still being processed', opts: {except: %i{ended_without_success pending_conditions recruited enrolled never_signed_in unsubmitted_not_started_form unsubmitted_in_progress}} },
  { label: 'ended w/o success', opts: {only: %i{ended_without_success}} },
  { label: 'accepted an offer', opts: {only: %i{pending_conditions recruited enrolled}} },
]
%>

<h3 class="govuk-heading-m govuk-!-margin-top-8">Candidates, batched by the week they signed up</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <caption class="govuk-table__caption">Last 6 weeks</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header--numeric"></th>
          <th scope="col" class="govuk-table__header--numeric" colspan="6">Where the application is right now</th>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Sign-up week</th>
          <th scope="col" class="govuk-table__header--numeric">Batch size</th>
          <% rows.each do |row| %>
            <th scope="col" class="govuk-table__header--numeric"><%= row[:label].capitalize %></th>
          <% end %>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <% @statistics.last_6_weeks_with_activity.each do |year, week| %>
          <tr>
            <th scope="col" class="govuk-table__cell"><%= week_label(Date.commercial(year, week)) %></th>
            <td scope="col" class="govuk-table__cell govuk-table__cell--numeric"><%= @statistics.total_candidate_count(in_year_and_week: [year, week]) %></td>
            <% rows.each do |row| %>
              <td scope="col" class="govuk-table__cell govuk-table__cell--numeric"><%= @statistics.total_candidate_count(row[:opts].merge(in_year_and_week: [year, week])) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <caption class="govuk-table__caption">Candidate breakdown</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <% @statistics.process_states.each do |process_state| %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><%= t("candidate_flow_application_states.#{process_state}.name") %></th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @statistics[process_state] %></td>
            <td class="govuk-table__cell"><%= t("candidate_flow_application_states.#{process_state}.description") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if params[:screen] %>
<style media="screen">
  header, footer, .govuk-phase-banner { display: none; }
  .govuk-width-container { max-width: 99%; }
</style>

<meta http-equiv="refresh" content="60">
<% end %>
